<nav class="navbar" #navBar>
  <div class="outer-container">
    <a href="#" class="logo"
      ><img #logo src="assets/images/logo-dark.svg" alt="Shortly"
    /></a>
    <ul class="menu-items" [ngClass]="showMenu ? 'active' : ''" #navMenu>
      <li><a href="#features">Features</a></li>
      <li><a href="#pricing">Pricing</a></li>
      <li><a href="#resources">Resources</a></li>
      <li><a class="login-btn">Login</a></li>
      <li><a class="signup-btn">Sign Up</a></li>
    </ul>
    <div class="menu-btn" (click)="toggleMenu()">
      <img
        src="assets/icons/hamburger-menu-icon.svg"
        alt="hamburger-menu-icon"
      />
    </div>
  </div>
</nav>

<section>
  <div class="descripton-container">
    <img
      src="assets/images/illustration-working.svg"
      alt="Shorter Illustrations"
    />
    <div class="header">
      <h1 class="title">More than just shorter links</h1>
      <p class="sub-title">
        Build your brand's recognition and get detailed insights on how your
        links are performing
      </p>
      <button>Get started</button>
    </div>
  </div>
  <div class="inner-container">
    <div class="shorten-link-container">
      <div class="input-container">
        <input type="text" placeholder="Shorten a link here..." />
        <button>Shorten it</button>
        <!-- <p class="error-msg">Please add a link</p> -->
      </div>
      <div class="list-link">
        <div class="card">
          <p class="link">https://www.frontendmentor.io</p>
          <a href="https://www.frontendmentor.io"
            >https://www.frontendmentor.io</a
          >
          <button>Copy</button>
        </div>
        <div class="card">
          <p class="link">https://www.frontendmentor.io</p>
          <a href="https://www.frontendmentor.io"
            >https://www.frontendmentor.io</a
          >
          <button>Copy</button>
        </div>
        <div class="card">
          <p class="link">https://www.frontendmentor.io</p>
          <a href="https://www.frontendmentor.io"
            >https://www.frontendmentor.io</a
          >
          <button>Copy</button>
        </div>
      </div>
    </div>
    <div class="advanced-statistics">
      <div class="header">
        <h1>Advanced Statistics</h1>
        <p>
          Trach how your links are performing accross the web with our advanced
          statistics dashboard
        </p>
      </div>

      <div class="body">
        <div class="card">
          <div class="icon">
            <img
              src="assets/images/icon-brand-recognition.svg"
              alt="Brand recognition"
            />
          </div>
          <h3 class="card-title">Brand recognition</h3>
          <p class="card-description">
            Boost your brand recognition with each click. Generic links don't
            mean a thing. Branded link helps instil confidence in your content.
          </p>
        </div>
        <div class="card">
          <div class="icon">
            <img
              src="assets/images/icon-detailed-records.svg"
              alt="Detailed records"
            />
          </div>
          <h3 class="card-title">Detailed records</h3>
          <p class="card-description">
            Gain insights into who is clicking your links. Knowing when and
            where people engage with your content helps inform better
            descisions.
          </p>
        </div>
        <div class="card">
          <div class="icon">
            <img
              src="assets/images/icon-fully-customizable.svg"
              alt="Fully customizable"
            />
          </div>
          <h3 class="card-title">Fully customizable</h3>
          <p class="card-description">
            Improve brand awareness and content discoverability through
            customizable links, supercharging audience engagement.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="get-started-container">
    <div class="content">
      <h1 class="title">Boost your links today</h1>
      <button>Get started</button>
    </div>
  </div>
</section>

<footer>
  <div class="footer-container">
    <img src="assets/images/logo-light.svg" alt="Shortly" />
    <ul>
      <li class="title">Features</li>
      <li><a href="#"> Link Shortening</a></li>
      <li><a href="#"> Beanded Links</a></li>
      <li><a href="#"> Analytics</a></li>
    </ul>
    <ul>
      <li class="title">Resources</li>
      <li><a href="#"> Blog</a></li>
      <li><a href="#"> Developers</a></li>
      <li><a href="#"> Support</a></li>
    </ul>
    <ul>
      <li class="title">Company</li>
      <li><a href="#"> About</a></li>
      <li><a href="#"> Our Team</a></li>
      <li><a href="#"> Careers</a></li>
      <li><a href="#"> Contact</a></li>
    </ul>
    <ul class="social-links">
      <li>
        <a href="#">
          <img src="assets/images/icon-facebook.svg" alt="facebook"
        /></a>
      </li>
      <li>
        <a href="#"
          ><img src="assets/images/icon-twitter.svg" alt="twitter"
        /></a>
      </li>

      <li>
        <a href="#">
          <img src="assets/images/icon-pinterest.svg" alt="pinterest"
        /></a>
      </li>
      <li>
        <a href="#">
          <img src="assets/images/icon-instagram.svg" alt="instagram"
        /></a>
      </li>
    </ul>
  </div>
</footer>
