.navbar {
  position: fixed;
  width: 100%;
  background: transparent;
  font-family: var(--font-ubuntu);
  padding: 30px 0;
  transition: background 0.5s ease-in-out;
  z-index: 999;
  @media (max-width: 950px) {
    padding: 0;
  }
  &.sticky {
    background: #3a3053;
    .outer-container {
      .menu-items {
        li {
          a {
            text-decoration: underline 2px rgb(255, 255, 255, 0);
            color: #fff;
            &:hover {
              text-decoration: underline 2px rgb(255, 255, 255, 1);
              color: #fff;
            }
          }
        }
      }
      .login-btn {
        color: #fff;
      }
    }
  }
  .outer-container {
    max-width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    @media (max-width: 950px) {
      max-width: unset;
      width: auto;
      padding: 15px;
    }
    .logo {
      display: inline-block;
    }
    .menu-btn {
      display: none;
      cursor: pointer;
      img {
        width: 22px;
      }
      @media (max-width: 950px) {
        display: block;
        z-index: 999;
      }
    }

    .menu-items {
      display: flex;
      padding-left: 2rem;
      align-items: center;
      width: 100%;
      gap: 1.5rem;
      @media (max-width: 950px) {
        position: absolute;
        top: 4.5rem;
        background-color: #3c2d52;
        border-radius: 1rem;
        padding: 3rem 0;
        flex-direction: column;
        right: 0;
        left: 0;
        margin: auto;
        gap: 2rem;
        display: none;
        width: 350px;
        &.active {
          display: flex;
        }
      }
      li {
        list-style: none;
        display: inline-block;
        @media (max-width: 950px) {
          width: 100%;
          text-align: center;
          position: relative;
        }
        a {
          font-size: 22px;
          font-weight: 700;
          color: #a8a8b2;
          text-decoration: underline 2px rgb(206, 180, 140, 0);
          text-underline-offset: 5px;
          transition: all 500ms ease;
          @media (max-width: 950px) {
            color: #fff;
          }
          &:hover {
            color: #fff;
          }
        }
        &:nth-of-type(3) {
          margin-right: auto;
          @media (max-width: 950px) {
            margin-right: unset;
          }
          &::after {
            @media (max-width: 950px) {
              content: "";
              height: 1px;
              width: 80%;
              margin: auto;
              position: absolute;
              bottom: -1rem;
              left: 0;
              right: 0;
              background: #dddddd45;
            }
          }
        }
      }
      .login-btn {
        padding: 1rem 2rem;
        background: transparent;
        border: none;
        font-size: 22px;
        font-weight: 700;
        color: #a8a8b2;
        cursor: pointer;
      }
      .signup-btn {
        padding: 1rem 2rem;
        cursor: pointer;
        border: none;
        border-radius: 74px;
        font-size: 24px;
        font-weight: 700;
        color: #fff !important;
        max-width: 200px;
        background-color: #2bd1d1;
      }
    }
  }
}

.descripton-container {
  padding: 10rem 0 8rem 0;
  width: 80%;
  height: calc(100vh - 450px);
  margin: auto;
  @media (max-width: 1420px) {
    height: auto;
    width: auto;
    padding: 4rem 0;
    overflow: hidden;
    padding-bottom: 6.5rem;
  }
  .header {
    display: inline-flex;
    flex-direction: column;
    @media (max-width: 950px) {
      display: block;
      text-align: center;
      padding: 0 32px;
      margin-top: 1.5rem;
    }
    h1 {
      display: inline-block;
      font-size: 100px;
      width: 675px;
      font-weight: 700;
      color: #373140;
      @media (max-width: 950px) {
        display: block;
        width: auto;
        font-size: 38px;
        margin-bottom: 0.5rem;
      }
    }
    p {
      display: inline-block;
      font-size: 28px;
      width: 600px;
      line-height: 1.5;
      font-weight: 700;
      color: #a8a8b2;
      @media (max-width: 950px) {
        display: block;
        width: auto;
        font-size: 18px;
      }
    }
    button {
      margin-top: 2rem;
      padding: 1rem 2rem;
      cursor: pointer;
      border: none;
      border-radius: 74px;
      font-size: 24px;
      font-weight: 700;
      color: #fff;
      max-width: 200px;
      background-color: #2bd1d1;
      @media (max-width: 950px) {
        margin-top: 16px;
      }
    }
  }
  img {
    position: absolute;
    right: 0;
    z-index: -1;
    @media (max-width: 1420px) {
      height: auto;
      position: static;
      object-fit: none;
    }
  }
}
.inner-container {
  background-color: #f0f1f6;
  @media (max-width: 950px) {
    padding: 0 15px;
  }
  .shorten-link-container {
    width: 80%;
    margin: auto;
    position: relative;
    padding-top: 6rem;
    @media (max-width: 950px) {
      width: auto;
      // display: none;
    }
    .input-container {
      position: absolute;
      width: 91%;
      max-width: 100%;
      top: -5rem;
      display: flex;
      align-items: center;
      padding: 3rem 4rem;
      background: url(../../assets/images/bg-shorten-desktop.svg) #3a3053;
      background-position: left bottom, left top;
      background-repeat: no-repeat, repeat;
      border-radius: 8px;
      gap: 4rem;
      @media (max-width: 950px) {
        width: auto;
        background: url(../../assets/images/bg-shorten-mobile.svg) #3a3053;
        background-repeat: no-repeat;
        background-position: right top;
        flex-direction: column;
        gap: 1rem;
        padding: 20px;
        left: 0;
        right: 0;
      }
      input {
        height: 64px;
        width: 80%;
        text-indent: 2rem;
        font-size: 28px;
        font-weight: 600;
        border: none;
        border-radius: 8px;
        @media (max-width: 950px) {
          font-size: 18px;
          width: 100%;
          font-size: 18px;
          height: auto;
          padding: 16px 0;
          text-indent: 16px;
        }
      }
      button {
        padding: 1rem 2rem;
        cursor: pointer;
        border: none;
        border-radius: 8px;
        font-size: 24px;
        font-weight: 700;
        color: #fff;
        background-color: #2bd1d1;
        @media (max-width: 950px) {
          font-size: 18px;
          width: 100%;
          font-size: 18px;
          padding: 16px;
          height: auto;
        }
      }
    }
    .card {
      display: flex;
      align-items: center;
      border-radius: 8px;
      padding: 1rem 4rem;
      background-color: #fff;
      margin-top: 1rem;
      gap: 2.5rem;
      font-size: 24px;
      font-weight: 700;
      @media (max-width: 950px) {
        display: none;
      }
      .link {
        margin-right: auto;
      }
      a {
        color: #2bd1d1;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      button {
        padding: 1rem 2rem;
        cursor: pointer;
        border: none;
        border-radius: 8px;
        font-size: 24px;
        font-weight: 700;
        color: #fff;
        background-color: #2bd1d1;
      }
    }
  }
  .advanced-statistics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 80%;
    margin: auto;
    padding: 6rem 0;
    @media (max-width: 950px) {
      width: auto;
      padding-top: 3rem;
      padding-bottom: 0;
    }
    .header {
      width: 700px;
      margin: auto;
      @media (max-width: 950px) {
        width: auto;
      }
      h1 {
        font-size: 56px;
        font-weight: 700;
        color: #3a3053;
        @media (max-width: 950px) {
          font-size: 24px;
        }
      }
      p {
        font-size: 28px;
        font-weight: 700;
        color: #a8a8b2;
        margin-top: 1rem;
        @media (max-width: 950px) {
          font-size: 18px;
        }
      }
    }
    .body {
      text-align: left;
      display: flex;
      gap: 3rem;
      margin: 8rem 0;
      justify-content: center;
      @media (max-width: 950px) {
        gap: 4.5rem;
        margin: 4rem 0;
        flex-direction: column;
      }
      .card {
        padding: 2rem;
        background: #fff;
        width: 450px;
        height: auto;
        border-radius: 8px;
        position: relative;
        min-height: 202px;
        @media (max-width: 950px) {
          width: auto;
          text-align: center;
          padding: 16px 32px;
        }
        .icon {
          width: 44px;
          height: 44px;
          background: #3a3053;
          padding: 22px;
          border-radius: 100%;
          position: absolute;
          top: -42px;
          left: 40px;
          @media (max-width: 950px) {
            width: 24px;
            height: 24px;
            display: flex;
            left: 0;
            right: 0;
            margin: auto;
          }
        }
        .card-title {
          font-size: 32px;
          font-weight: 700;
          margin-top: 1.5rem;
          line-height: 2;
          color: #3a3053;
          @media (max-width: 950px) {
            font-size: 24px;
          }
        }
        .card-description {
          font-size: 24px;
          font-weight: 400;
          margin-top: 1rem;
          line-height: 1.5;
          color: #a8a8b2;
          @media (max-width: 950px) {
            font-size: 18px;
          }
        }
        &::after {
          content: "";
          height: 15px;
          width: 3rem;
          background-color: #2bd1d1;
          position: absolute;
          right: -50px;
          margin: auto;
          top: 0;
          bottom: 0;
          @media (max-width: 950px) {
            height: 4.5rem;
            width: 8px;
            right: 0;
            left: 0;
            margin: auto;
            bottom: -4.5rem;
            top: unset;
          }
        }
        &:nth-of-type(2) {
          transform: translateY(50px);
          @media (max-width: 950px) {
            transform: none;
          }
        }
        &:nth-of-type(3) {
          transform: translateY(100px);
          @media (max-width: 950px) {
            transform: none;
          }
          &::after {
            display: none;
          }
        }
      }
    }
  }
}

.get-started-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
  background: url(../../assets/images/bg-boost-desktop.svg) #3a3053;
  background-position: right bottom, left top;
  background-repeat: no-repeat, repeat;
  color: #fff;
  position: relative;
  @media (max-width: 950px) {
    background: url(../../assets/images/bg-boost-mobile.svg) #3a3053;
    background-position: right top;
    background-repeat: no-repeat;
    padding: 5rem 2rem;
  }
  .content {
    text-align: center;
    margin: auto;
    h1 {
      font-size: 56px;
      font-weight: 700;
      @media (max-width: 950px) {
        font-size: 32px;
      }
    }
    button {
      font-size: 24px;
      font-weight: 700;
      padding: 1rem 3.5rem;
      margin-top: 1.5rem;
      border-radius: 32px;
      border: none;
      background-color: #2bd1d1;
      color: #fff;
      cursor: pointer;
      @media (max-width: 950px) {
        font-size: 18px;
      }
    }
  }
}

footer {
  background-color: #232027;
  .footer-container {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto 150px;
    align-items: flex-start;
    color: #fff;
    padding: 2rem;
    @media (max-width: 950px) {
      width: 100%;
      display: block;
      text-align: center;
      padding: 2rem 0;
      flex-direction: column;
    }
    ul {
      @media (max-width: 950px) {
        margin: 1.5rem 0;
      }
      li {
        list-style: none;
        font-size: 22px;
        line-height: 2;
        a {
          color: #fff;
          text-decoration: none;
          font-weight: lighter;
          &:hover {
            text-decoration: underline;
          }
        }
        &.title {
          margin-bottom: 1rem;
          font-size: 32px;
          font-weight: 700;
          line-height: normal;
        }
      }
    }
    ul.social-links {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      @media (max-width: 950px) {
        justify-content: center;
      }
    }
  }
}
